<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Create new contact</h1>
<form method="post">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="surname" placeholder="surname">
    <input type="text" name="number" placeholder="phone">
    <input type="submit">
</form>

<ul th:each="contact: ${contacts}">
    <li>
        <a th:href="'/user/' + ${id} + '/contacts/' + ${contact.getId()}" th:text="${contact.getName()} + ' ' + ${contact.getSurname()}"></a>
    </li>
</ul>


</body>
</html>